.menu {
  display: flex;
  margin-top: 1rem;
  margin-left: auto;
}

.buttons {
  padding: 1rem 0.2rem;
}

.button_link {
  color: inherit;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button_link:hover {
  color: white;
  background: black;
}
