.back {
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  cursor: pointer;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem 0;
  margin: 2rem auto;
  width: 80%;
}

.product_img {
  height: 20rem;
  width: auto;
  margin: auto;
}

